@{
    ViewData["Title"] = "Movie List";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<div>
    @*<ul>
        @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
        {
            <li>@ViewData["Message"]</li>
        }
    </ul>*@
    <h2>My Movie List</h2>
</div>